---
import Header2 from "../components/Header2.astro";
import Layout from "../layouts/Layout.astro";
import CatalogoAnillo from "../components/CatalogoAnillo.astro";
import Barra from "../components/Barra.astro";

---

<Layout title="Anillos">
    <main>
        <Header2/>
        <Barra/>
        <CatalogoAnillo/>
    </main>
</Layout>
