---
import Header2 from "../components/Header2.astro";
import Layout from "../layouts/Layout.astro";
import AllCatalogo from "../components/AllCatalogo.astro";
import Barra from "../components/Barra.astro";
---

<Layout title="catalogo">
    <main id="">
        <Header2/>
        <Barra/>
        <AllCatalogo/>
    </main>
</Layout>
