---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
import Images from '../components/Images.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Barra from '../components/Barra.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<SectionContainer id="inicio">
		<Header/>
		</SectionContainer>
		<Title />
		<Barra/>
		<SectionContainer id="catalogo">
		<Images/>
	</SectionContainer>

	</main>
</Layout>