---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
import Images from '../components/Images.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Title />
		<Images/>


	</main>
</Layout>