<section class="flex lg:px-[250px] md:px-[100px] px-0 p-[50px]">
<img src="/images/Lordcat.jpg" alt="Lordcat" class="lg:size-[300px] md:size-[150px] size-[100px]">
<div class="">
    <h1 class="lg:text-5xl md:text-3xl text-3xl text-orange-300"><span>About us</span></h1>
    <br>
    <br>
    <p class="lg:text-xl md:text-xl text-sm"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis assumenda placeat praesentium officiis laboriosam et dignissimos in deserunt tempore nobis beatae voluptates atque, cupiditate dolor, hic voluptas distinctio nemo eveniet.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi at placeat facilis. Culpa pariatur autem sunt. Laudantium, dolor laboriosam. Nobis velit vitae commodi provident minima debitis est natus pariatur earum.
    </p>
</div>
</section>