<div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 gap-8 p-10"> 

<div class=" max-w-xs bg-black border border-gray-200 rounded-lg shadow">
        <img class="p-8 rounded-t-lg" src="/Anillos/1.png" alt="" />
    <div class="px-5 pb-5">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Anillo romano - Acero inoxidable</h5>
            <p class="py-3">Tallas disponibles: 7, 8, 9, 10 ,11 y 12.</p>
       
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">24.000 cop</span>
            <a href="https://www.whatsapp.com/catalog/573044816918/?app_absent=0" class="text-orange-300 bg-black hover:bg-orange-300 hover:text-black border border-orange-300 focus:ring-4 focus:outline-none rounded-lg text-sm font-bold px-5 py-2.5 text-center ">Comprar</a>
            
        </div>
    </div>
</div>
<div class=" max-w-xs bg-black border border-gray-200 rounded-lg shadow">
        <img class="p-8 rounded-t-lg" src="/Anillos/2.png" alt="" />
    <div class="px-5 pb-5">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Anillo D. romano - Acero inoxidable</h5>
            <p class="py-3">Tallas disponibles: 7, 8, 9, 10 ,11 y 12.</p>
       
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">25.000 cop</span>
            <a href="https://www.whatsapp.com/catalog/573044816918/?app_absent=0" class="text-orange-300 bg-black hover:bg-orange-300 hover:text-black border border-orange-300 focus:ring-4 focus:outline-none rounded-lg text-sm font-bold px-5 py-2.5 text-center ">Comprar</a>
            
        </div>
    </div>
</div>
<div class=" max-w-xs bg-black border border-gray-200 rounded-lg shadow">
        <img class="p-8 rounded-t-lg" src="/Anillos/3.png" alt="" />
    <div class="px-5 pb-5">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Anillo Martillado - Acero inoxidable</h5>
            <p class="py-3">Tallas disponibles: 8, 9, 10.</p>
       
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">25.000 cop</span>
            <a href="https://www.whatsapp.com/catalog/573044816918/?app_absent=0" class="text-orange-300 bg-black hover:bg-orange-300 hover:text-black border border-orange-300 focus:ring-4 focus:outline-none rounded-lg text-sm font-bold px-5 py-2.5 text-center ">Comprar</a>
            
        </div>
    </div>
</div>
<div class=" max-w-xs bg-black border border-gray-200 rounded-lg shadow">
        <img class="p-8 rounded-t-lg" src="/Anillos/4.png" alt="" />
    <div class="px-5 pb-5">
            <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Anillo Compromiso - Acero inoxidable</h5>
            <p class="py-3">Tallas disponibles: 10 y 11.</p>
       
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">20.000 cop</span>
            <a href="https://www.whatsapp.com/catalog/573044816918/?app_absent=0" class="text-orange-300 bg-black hover:bg-orange-300 hover:text-black border border-orange-300 focus:ring-4 focus:outline-none rounded-lg text-sm font-bold px-5 py-2.5 text-center ">Comprar</a>
        </div>
    </div>
</div>

</div>
