
<nav class="flex pt-4 justify-between">
    <div class="pl-10 flex gap-5">
    <img src="../../public/images/Lordcat.jpg" alt="" class=" size-14">
<h1 class=" text-5xl font-semibold">Lordcat</h1>
    </div>
    <ul class="gap-8 flex pr-10">
        <li><a class=" hover:underline" href="#">Inicio</a></li>
        <li><a class=" hover:underline"  href="#">Catalogo</a></li>
        <li><a class=" hover:underline"  href="#">Sobre nosotros</a></li>
        <li><a class=" hover:underline"  href="https://www.whatsapp.com/catalog/573044816918/?app_absent=0">contacto</a></li>
    </ul>
</nav>