
<nav class="flex justify-between">
    <div>
    <img src="../../public/images/Lordcat.jpg" alt="Lorcat" class=" flex size-10">
    </div>
    <ul class="gap-8 flex pr-10">
        <li><a class=" hover:underline" href="#">Inicio</a></li>
        <li><a class=" hover:underline"  href="#">Catalogo</a></li>
        <li><a class=" hover:underline"  href="#">Sobre nosotros</a></li>
    </ul>
</nav>