<nav class="flex justify-end">
    <ul class="gap-8 flex pr-10">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Catalogo</a></li>
        <li><a href="#">Sobre nosotros</a></li>
    </ul>
</nav>