<div style="background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(64,23,73,1) 100%);">
<h1 class="flex text-6xl font-semibold text-orange-300 justify-center">Catalogo</h1>

<section class="flex w-[80%] lg:h-[500px] md:h-[400px] h-[220px] m-[40px] mt-[50px] lg:mb-[40px] md:m-[50px] lg:m-[150px] lg:mt-[50px]  border rounded-xl bg-slate-600 border-neutral-700 p-5">
    <img class="" src="/catalogo/1.png" alt="">
    <img class="" src="/catalogo/2.png" alt="">
    <img class="" src="/catalogo/6.png" alt="">
    <img class="" src="/catalogo/4.png" alt="">
    <img class="" src="/catalogo/5.png" alt="">
</section>

<div 
 class="flex justify-center m-[50px]">
    <a href="/Catalogo" class="text-black font-semibold bg-orange-300 hover:bg-orange-400 focus:outline-none focus:ring-4 focus:ring-blue-300 rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
        ir a catalogo</a>

    </div>
</div>

<style>



section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;    
}

section img:hover{
    cursor: crosshair;
    opacity: 1;
    width: 150px;
    filter: contrast(120%);
}


</style>