<section class=" h-[500px]"
style="background-image: linear-gradient(
0deg,
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
),
url(/images/banner.png)">
    <div class="grid place-items-center py-[210px]">
        <h1 class="lg:text-6xl md:text-5xl text-3xl text-orange-300"><span>Adorn in Style Today</span></h1>
        <br>
        <p class="lg:text-2xl md:text-xl text-lg px-6">Step into Lordcat for an exclusive selection of accessories that completeany ensemble:</p>
        <br>
        <br>
        <a href="https://wa.me/c/573044816918" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 bg-orange-300 h text-sm font-medium text-gray-900 rounded-lg group">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black text-orange-300 hover:text-black rounded-md group-hover:bg-opacity-0">
            Comprar
            </span>
        </a>
    </div>
</section>